<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Your Dashboard</h1>
        <div>
            <p>Benutzername: <span th:text="${username}"></span></p>
            <p>Email: <span th:text="${email}"></span></p>
            <p>First Name: <span th:text="${firstName}"></span></p>
            <p>Last Name: <span th:text="${lastName}"></span></p>
            <p>Date of Birth: <span th:text="${birthdate}"></span></p>
            <p>Address: <span th:text="${address}"></span></p>
            <p>City: <span th:text="${city}"></span></p>
            <p>Postal Code: <span th:text="${postalCode}"></span></p>
            <p>Country: <span th:text="${country}"></span></p>
            <p>Security Question: <span th:text="${securityQuestion}"></span></p>
            <p>Answer: <span th:text="${securityAnswer}"></span></p>
        </div>
    </div>
</body>
</html>
