<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>Anmeldung erfolgreich</title>
    <script>
        // Nach 5 Sekunden zur Anmeldeseite weiterleiten
        setTimeout(function() {
            window.location.href = "login.html";
        }, 5000); // 5000 Millisekunden = 5 Sekunden
    </script>
</head>
<body>
    <h1>Anmeldung erfolgreich</h1>
    <p>Ihre Anmeldung war erfolgreich.</p>
    <p>Sie werden in Kürze zur Anmeldeseite weitergeleitet...</p>
    <!-- Optional: Fügen Sie hier weitere Inhalte hinzu, z.B. ein Bild oder zusätzliche Informationen -->
</body>
</html>
